<ion-content [fullscreen]="true">
  <h1 class="py-6 pl-6 text-2xl text-left">Beállítások</h1>
  <div class="flex-1 justify-center items-center" id="container">
    <ul class="flex flex-col gap-6 px-4">
      <a routerLink="/tabs/settings/account">
        <li class="p-3 bg-neutral-200 dark:bg-neutral-800 rounded-lg">
          Fiók beállítások
        </li>
      </a>
      <a routerLink="/tabs/settings/theme">
        <li class="p-3 bg-neutral-200 dark:bg-neutral-800 rounded-lg">
          Téma beállítások
        </li>
      </a>
      <a routerLink="/tabs/settings/about">
        <li class="p-3 bg-neutral-200 dark:bg-neutral-800 rounded-lg">Rólunk</li>
      </a>
    </ul>
  
    <div
      class="absolute bottom-28 p-4 justify-center items-center w-full"
      id="button-container"
    >
      <button
        class="w-full py-2 bg-red-700 text-white rounded-lg"
        (click)="logout()"
      >
        Kijelentkezés
      </button>
    </div>
  </div>
</ion-content>
