<div class="hatter h-full">
    <app-nav-after></app-nav-after>
      <div class="pt-16">
        <h2 class="text-3xl font-medium mb-8 text-white text-center mt-28">Profil Adatai</h2>
          <form class="w-full max-w-xl">
              <div class="">
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-white text-xs font-medium mb-2" for="grid-first-name">
                      Keresztnév
                    </label>
                    <input class="appearance-none block w-full bg-gray-100 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-400 focus:shadow-outline focus:bg-white" id="grid-first-name" type="text" placeholder="Keresztnév">
                  </div>
                  <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-white text-xs font-medium mb-2" for="grid-last-name">
                      Vezetéknév
                    </label>
                    <input class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-blue-400 focus:shadow-outline focus:bg-white" id="grid-last-name" type="text" placeholder="Vezetéknév">
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-white text-xs font-medium mb-2" for="grid-password">
                          Jelszó
                        </label>
                        <input class="appearance-none block w-full bg-gray-100 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-400 focus:shadow-outline focus:bg-white" id="grid-password" type="text" placeholder="********">
                    </div>
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-white text-xs font-medium mb-2" for="grid-email">
                          E-mail cím
                        </label>
                        <input class="appearance-none block w-full bg-gray-100 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-400 focus:shadow-outline focus:bg-white" id="grid-email" type="text" placeholder="E-mail cím">
                    </div>
                </div>
              </div>
              <div class="w-full flex justify-center">
                <button class="ment bg-white transition ease-in-out hover:-translate-y-1 hover:scale-105 hover:bg-blue-100 text-blue-900 font-medium py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Mentés
                </button>
              </div>
            </form>
      </div>
    <app-footer></app-footer>    
</div>