<main
  class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-end items-center w-screen h-screen bg-black bg-opacity-80 pb-32"
  [ngClass]="{
    'show-file-changes': fileChangesOpened,
    'hide-file-changes': !fileChangesOpened
  }"
>
  <div class="h-full w-full" (click)="hideFileChanges()"></div>
  <div
    class="relative flex flex-col justify-start items-center w-11/12 lg:w-4/6 rounded-xl bg-neutral-100 dark:bg-neutral-800"
    [ngClass]="{
      'show-file-changes-card': fileChangesOpened,
      'hide-file-changes-card': !fileChangesOpened
    }"
  >
    <header class="relative flex items-center justify-between w-full pt-6 pb-4">
      <button
        class="absolute top-5 left-4 h-9 aspect-square rounded-lg bg-blue-600 bg-opacity-30 flex items-center justify-center"
        (click)="hideFileChanges()"
        routerDirection="back"
      >
        <ion-icon name="arrow-back-outline"></ion-icon>
      </button>
      <h1 class="pl-16 text-2xl text-left w-5/6">
        {{ lastEditInformation?.name }}
      </h1>
      <button
        class="absolute top-4 right-4 shadow-lg rounded-lg bg-blue-200 dark:bg-blue-700 bg-opacity-60 dark:bg-opacity-60 flex gap-2 justify-center items-center h-11 aspect-square"
        routerLink="/tabs/projects/file-settings"
        id="settings-button"
      >
        <img
          class="w-4/6 aspect-square dark:invert"
          src="/assets/settings.svg"
          alt="Projekt hozzáadása"
        />
      </button>
    </header>
    <div
      class="flex flex-1 justify-start items-center w-full px-4 pb-4"
      id="projects-container"
    >
    <span class="flex flex-col gap-2 w-full">
      <p>{{ lastEditInformation?.lastEditedUser }}</p>
      <hr class="border-1 border-neutral-300 dark:border-neutral-700">
      <p>{{ getLastEditedTime() }}</p>
    </span>
    </div>
  </div>
</main>
