<ion-content [fullscreen]="true">
  <button
    class="absolute top-5 left-4 h-9 aspect-square rounded-lg bg-blue-600 bg-opacity-30 flex items-center justify-center"
    routerLink="/tabs/settings"
    routerDirection="back"
  >
    <ion-icon name="arrow-back-outline"></ion-icon>
  </button>
  <h1 class="py-6 pl-16 text-2xl text-left">Rólunk</h1>
  <main>
    <ul class="flex flex-col gap-6 px-4">
      <li class="bg-neutral-200 dark:bg-neutral-800 rounded-lg">
        <p class="py-3 px-5">Teszt szöveg</p>
      </li>
      <li class="bg-neutral-200 dark:bg-neutral-800 rounded-lg">
        <p class="py-3 px-5">Teszt szöveg</p>
      </li>
      <li class="bg-neutral-200 dark:bg-neutral-800 rounded-lg">
        <p class="py-3 px-5">Teszt szöveg</p>
      </li>
    </ul>
  </main>
</ion-content>
