<ion-content [fullscreen]="true">
  <button
    class="absolute top-5 left-4 h-9 aspect-square rounded-lg bg-blue-600 bg-opacity-30 flex items-center justify-center"
    routerLink="/tabs/settings"
    routerDirection="back"
  >
    <ion-icon name="arrow-back-outline"></ion-icon>
  </button>
  <h1 class="py-6 pl-16 text-2xl text-left">Rólunk</h1>
  <main class="flex-1 justify-center items-start pb-32">
    <ul class="flex flex-col gap-6 w-full sm:w-2/3 mx-auto px-4">
      <li
        class="bg-neutral-200 dark:bg-neutral-800 rounded-lg flex flex-1 flex-col justify-start items-center min-h-28 w-full p-4"
      >
        <h1 class="w-full text-left pl-1 mb-2">
          <p>Applikációhoz felhasznált technológiák</p>
        </h1>
        <div
          class="bg-neutral-100 dark:bg-neutral-700 w-full h-full flex flex-col rounded-md py-2"
        >
          <div class="flex flex-wrap gap-2 w-full h-full">
            <ul class="flex flex-1 flex-col w-full">
              <li class="px-3 flex items-center gap-2">
                <img
                  class="w-4 aspect-square"
                  src="/assets/angular.svg"
                  alt="Angular logo"
                />
                <p>Angular - 17.0.6</p>
              </li>
              <hr
                class="my-2 border-neutral-300 dark:border-neutral-600 border"
              />
              <li class="px-3 flex items-center gap-2">
                <img class="w-4 aspect-square" src="/assets/tailwind.svg" />
                <p>Tailwind CSS - 3.4.1</p>
              </li>
              <hr
                class="my-2 border-neutral-300 dark:border-neutral-600 border"
              />
              <li class="px-3 flex items-center gap-2">
                <img
                  class="w-4 aspect-square dark:invert"
                  src="/assets/ionic.svg"
                />
                <p>Ionic - 7.2.0</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li
        class="bg-neutral-200 dark:bg-neutral-800 rounded-lg flex flex-1 flex-col justify-start items-center min-h-28 w-full p-4"
      >
        <h1 class="w-full text-left pl-1 mb-2">
          <p>Projekt fejlesztői</p>
        </h1>
        <div
          class="bg-neutral-100 dark:bg-neutral-700 w-full h-full flex flex-col rounded-md py-1"
        >
          <div class="flex flex-wrap gap-2 w-full h-full">
            <ul class="flex flex-1 flex-col gap-2 w-full py-1 px-2">
              <li>
                <a
                  class="bg-neutral-200 dark:bg-neutral-800 flex flex-wrap justify-between items-center gap-2 py-2 px-3 rounded-md"
                  href="https://github.com/fbog05"
                >
                  <span class="flex justify-start items-center gap-2">
                    <img
                      class="w-6 aspect-square rounded-full"
                      src="https://avatars.githubusercontent.com/fbogi05"
                      alt="Profilkép"
                    />
                    <p>fbogi05</p>
                  </span>
                  <p class="flex-1 text-pretty text-right">
                    (Ferencsik Boglárka)
                  </p>
                </a>
              </li>
              <li>
                <a
                  class="bg-neutral-200 dark:bg-neutral-800 flex flex-wrap justify-between items-center gap-2 py-2 px-3 rounded-md"
                  href="https://github.com/Gergo06-py"
                >
                  <span class="flex justify-start items-center gap-2">
                    <img
                      class="w-6 aspect-square rounded-full"
                      src="https://avatars.githubusercontent.com/Gergo06-py"
                      alt="Profilkép"
                    />
                    <p>Gergo06-py</p>
                  </span>
                  <p class="flex-1 text-pretty text-right">
                    (Borbély Gergő Árpád)
                  </p>
                </a>
              </li>
              <li>
                <a
                  class="bg-neutral-200 dark:bg-neutral-800 flex flex-wrap justify-between items-center gap-2 py-2 px-3 rounded-md"
                  href="https://github.com/razal22"
                >
                  <span class="flex justify-start items-center gap-2">
                    <img
                      class="w-6 aspect-square rounded-full"
                      src="https://avatars.githubusercontent.com/razal22"
                      alt="Profilkép"
                    />
                    <p>razal22</p>
                  </span>
                  <p class="flex-1 text-pretty text-right">
                    (Nagy-Berta Lázár)
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li
        class="bg-neutral-200 dark:bg-neutral-800 rounded-lg flex flex-1 flex-col justify-start items-center min-h-28 w-full p-4"
      >
        <h1 class="w-full text-left pl-1 mb-2">
          <p>Verziószám</p>
        </h1>
        <div
          class="bg-neutral-100 dark:bg-neutral-700 w-full h-full flex flex-col rounded-md py-1"
        >
          <div class="flex flex-wrap gap-2 w-full h-full py-2 px-3">
            <p>1.0.0</p>
          </div>
        </div>
      </li>
    </ul>
  </main>
</ion-content>
