<button
  class="bg-blue-100 rounded-2xl dark:bg-neutral-800 flex flex-1 flex-col justify-start items-center min-h-28 min-w-28 p-4"
  (click)="openProject(project)"
>
  <h1 class="w-full text-left pl-1 mb-4">
    {{ project.name }}
  </h1>
  <div
    class="bg-neutral-100 dark:bg-neutral-700 w-full h-full justify-center flex flex-col rounded-md p-2"
  >
    <ng-container *ngIf="project?.members?.length > 0; else noMembers">
      <h1 class="w-full text-left pb-2">Szerkesztők:</h1>
      <div class="flex flex-wrap gap-2 w-full h-full">
        <p class="text-left pl-8 w-full" *ngFor="let member of project.members">
          {{ member.firstName }} {{ member.lastName }}
        </p>
      </div>
    </ng-container>
    <ng-template #noMembers>
      <p class="text-left px-2 w-full">Nincs szerkesztő hozzáadva</p>
    </ng-template>
  </div>
</button>
