<div class="hatter h-full">
    <app-nav-after></app-nav-after>
    <div class="test text-white text-center pt-10">
        <div class="flex justify-between px-14 pb-5">
          <h3 class="text-3xl font-semibold">Projektek</h3>
          <button 
            (click)="showInput = true" 
            class="transition ease-in-out bg-white hover:-translate-y-1 hover:scale-105 hover:bg-blue-100 text-blue-900 font-medium py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
            type="button">
            Új projekt
          </button>
          <input class="shadow appearance-none border rounded-lg py-2 px-3 bg-gray-100 text-gray-700 leading-tight focus:outline-blue-400 focus:shadow-outline focus:bg-white" *ngIf="showInput" type="text" [(ngModel)]="projectName" (keyup.enter)="createProject(); showInput = false">
        </div>
        <div class="mx-auto">
          <table class="table-fixed border-collapse rounded-md">
            <tr>
              <th>Saját Projektek</th>
            </tr>
            <tr *ngFor="let project of owns">
              <td><a routerLink="/files/{{ project.name }}">{{ project.name }}</a></td>
            </tr>
            <tr class="pt-1">
              <th>Megosztott Projektek</th>
            </tr>
            <tr *ngFor="let project of memberOf">
              <td><a routerLink="/files/{{ project.name }}">{{ project.name }}</a></td>
            </tr>
          </table>
        </div>
    </div>
    <div class="flex justify-center text-white font-medium bg-black p-2 foot w-full">
      <p>© CollaboraCode 2023</p>
    </div>
</div>