<ion-content [fullscreen]="true">
  <form
    class="from-blue-700 to-sky-500 bg-gradient-to-br min-h-full flex flex-col items-center justify-evenly px-4"
    #form="ngForm"
    (ngSubmit)="login(form)"
  >
    <div class="flex flex-col items-center">
      <img
        src="assets/wifi.svg"
        alt="Offline"
        class="mt-4 h-8 aspect-square dark:invert"
        [ngClass]="{'hidden': networkStatus, 'block animate-pulse': !networkStatus}"
      />
      <h1 class="text-xl text-center text-white my-4">
        Bejelentkezés a<br /><span class="font-bold">CollaboraCode</span>-ba
      </h1>
    </div>
    <div class="flex flex-col gap-3">
      <div class="form-group flex flex-col gap-3">
        <label for="email" class="text-white">E-mail cím</label>
        <input
          type="email"
          class="form-control rounded-full px-4 py-1 focus:outline outline-offset-2 outline-2 outline-blue-300 dark:outline-slate-700"
          [ngClass]="{'outline outline-red-700': (email.invalid && (email.touched || email.dirty)) || !fieldData.email.valid, 'outline-blue-300 dark:outline-slate-700': (email.valid || (!email.touched && !email.dirty)) && fieldData.email.valid}"
          id="email"
          name="email"
          autocomplete="email"
          [(ngModel)]="fieldData.email.value"
          (ngModelChange)="fieldData.email.valid = true"
          #email="ngModel"
          required
        />
        <div
          *ngIf="email.invalid && (email.touched || email.dirty) || !fieldData.email.valid"
          class="alert bg-white dark:bg-slate-200 bg-opacity-50 dark:bg-opacity-35 px-3 py-2 rounded-lg text-center text-red-800 font-semibold"
        >
          <div *ngIf="email.errors?.['required']; else isValid">
            <p>Az email cím megadása kötelező!</p>
          </div>
          <ng-template #isValid>
            <div *ngIf="!fieldData.email.valid">
              <p>Az email cím nem megfelelő!</p>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="form-group flex flex-col gap-3">
        <label for="password" class="text-white">Jelszó</label>
        <div class="relative flex gap-4">
          <input
            [type]="getFieldState()"
            class="form-control rounded-full pl-4 pr-9 w-full py-1 focus:outline outline-offset-2 outline-2 outline-blue-300 dark:outline-slate-700"
            [ngClass]="{'outline outline-red-700': (password.invalid && (password.touched || password.dirty)) || !fieldData.password.valid, 'outline-blue-300 dark:outline-slate-700': (password.valid || (!password.touched && !password.dirty)) && fieldData.password.valid}"
            id="password"
            name="password"
            autocomplete="current-password"
            [(ngModel)]="fieldData.password.value"
            (ngModelChange)="fieldData.password.valid = true"
            #password="ngModel"
            required
          />
          <button
            type="button"
            class="absolute right-2 top-1 rounded-full h-6 aspect-square flex justify-center items-center"
            (click)="changeVisibility()"
          >
            <img [src]="fieldData.password.icon" class="dark:invert" />
          </button>
        </div>
        <div
          *ngIf="password.invalid && (password.touched || password.dirty) || !fieldData.password.valid"
          class="alert bg-white dark:bg-slate-200 bg-opacity-50 dark:bg-opacity-35 px-3 py-2 rounded-lg text-center text-red-800 font-semibold"
        >
          <div *ngIf="password.errors?.['required']; else isValid">
            <p>A jelszó megadása kötelező!</p>
          </div>
          <ng-template #isValid>
            <div *ngIf="!fieldData.password.valid">
              <p>A jelszó nem megfelelő!</p>
            </div>
          </ng-template>
        </div>
        <input
          value="Bejelentkezés"
          type="submit"
          class="flex self-center bg-blue-700 shadow-sky-700 bg-opacity-80 shadow-lg text-white w-fit py-2 px-4 mt-2 rounded-lg"
        />
      </div>
      <div
        class="text-center flex flex-col items-center text-white font-semibold my-4"
      >
        <p class="px-2 rounded-md">Még nem felhasználó?</p>
        <p class="w-fitpx-2 rounded-b-md pb-1">
          Itt tud <a routerLink="/register" class="underline">regisztrálni</a>.
        </p>
      </div>
    </div>
  </form>
</ion-content>
