<div class="m-5">
    <h2 class="text-2xl font-semibold mt-4 ml-8">Belépés</h2>
    <form class="bg-white rounded px-8 pt-6 pb-2 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-medium mb-2" for="email">
          E-mail cím
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 bg-gray-100 text-gray-700 leading-tight focus:outline-sky-200 focus:shadow-outline focus:bg-white" id="email" type="text" placeholder="E-mail">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-medium mb-2" for="password">
          Jelszó
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 bg-gray-100 text-gray-700 leading-tight focus:outline-sky-200 focus:shadow-outline focus:bg-white" id="password" type="password" placeholder="********">
      </div>
      <div class="w-full flex justify-center">
        <button class="bg-sky-400 hover:bg-sky-500 text-white font-medium py-2 px-4 rounded" type="button">
          Belépés
        </button>
      </div>
    </form>
</div>