<div class="p-6 bg-gray-200 shadow-lg w-full">
  <ul class="flex flex-row justify-between">
    <li>
      <a href="/home">
        <img src="../../assets/Logo-final.svg" alt="CollaboraCode Logo" [width]="70">
      </a>
    </li>
    <li class="ml-2">
      <img src="../../assets/COLLABORACODE.svg" alt="CollaboraCode" [width]="300">
    </li>
    <li>
      <button (click)="openLoginDialog()" class="text-sky-600 hover:text-sky-900 mr-8 font-medium">Belépés</button>
      <button (click)="openRegDialog()" class="text-sky-600 hover:text-sky-900 font-medium">Regisztráció</button>
    </li>
  </ul>
</div>