<div class="p-6 shadow-2xl w-full navi">
    <ul class="flex flex-row justify-between">
      <li class="flex flex-1">
        <a>
          <img src="../../assets/Logo-Dark.svg" alt="CollaboraCode Logo" [width]="70">
        </a>
      </li>
      <li class="flex flex-1 justify-center">
        <img class="" src="../../assets/LogoType-Dark.svg" alt="CollaboraCode" [width]="300">
      </li>
      <li class="mr-6 flex flex-1 justify-end">
        <button class="text-white hover:text-sky-600 font-medium mr-8" routerLink="/login">Belépés</button>
        <button class="text-white hover:text-sky-600 font-medium" routerLink="/sign-up">Regisztráció</button>
      </li>
    </ul>
  </div>