<ion-tabs #tabs>
  <nav
    class="bg-blue-500 dark:bg-neutral-800 bg-opacity-30 flex justify-evenly h-20 fixed z-10 bottom-6 left-1/2 -translate-x-1/2 w-11/12 rounded-xl"
  >
    <ion-tab-button tab="home">
      <div
        class="flex justify-center items-center h-10 aspect-square bg-blue-700 bg-opacity-80 rounded-xl shadow-stone-400 dark:shadow-stone-900 shadow-md"
      >
        <img
          class="h-7 invert"
          [src]="getIcon('home')"
          alt="Kezdőlap"
          [ngClass]="{ 'selected': isSelectedTab('home') }"
        />
      </div>
      <ion-label class="mt-1 text-black dark:text-white text-sm"
        >Főoldal</ion-label
      >
    </ion-tab-button>
    <ion-tab-button tab="projects">
      <div
        class="flex justify-center items-center h-10 aspect-square bg-blue-700 bg-opacity-80 rounded-xl shadow-stone-400 dark:shadow-stone-900 shadow-md"
      >
        <img
          class="h-7 invert"
          [src]="getIcon('projects')"
          alt="Projektek"
          [ngClass]="{ 'selected': isSelectedTab('projects') }"
        />
      </div>
      <ion-label class="mt-1 text-black dark:text-white text-sm"
        >Projektek</ion-label
      >
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <div
        class="flex justify-center items-center h-10 aspect-square bg-blue-700 bg-opacity-80 rounded-xl shadow-stone-400 dark:shadow-stone-900 shadow-md"
      >
        <img
          class="h-7 invert"
          [src]="getIcon('settings')"
          alt="Beállítások"
          [ngClass]="{ 'selected': isSelectedTab('settings') }"
        />
      </div>
      <ion-label class="mt-1 text-black dark:text-white text-sm"
        >Beállítások</ion-label
      >
    </ion-tab-button>
  </nav>
</ion-tabs>
