<div class="hatter h-full">
    <nav class="p-6 shadow-2xl w-full">
        <ul class="flex flex-row justify-between">
          <li>
            <a routerLink="/home">
              <img src="../../assets/Logo-Dark.svg" alt="CollaboraCode Logo" [width]="70">
            </a>
          </li>
          <li>
            <img class="ml-4" src="../../assets/LogoType-Dark.svg" alt="CollaboraCode" [width]="300">
          </li>
          <li class="relative group lenyilo" (click)="toggleDropdown()">
            <button type="button" class="inline-flex items-center border border-transparent rounded-md shadow-sm text-sm font-medium text-white" aria-expanded="false">
                <img src="../../assets/user.png" alt="user" [width]="30">
              <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.293 7.293a1 1 0 011.414 0L10 9.586l1.293-1.293a1 1 0 111.414 1.414l-2 2a1 1 0 01-1.414 0l-2-2a1 1 0 010-1.414z" clip-rule="evenodd"/>
              </svg>
            </button>
            <div *ngIf="isDropdownOpen" class="fixed right-0 mt-2 w-56 origin-top-right bg-white rounded-md shadow-lg">
              <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                <a routerLink="/profil" class="block px-4 py-4 text-sm text-blue-900 hover:bg-gray-100" role="menuitem">Profil</a>
                <a routerLink="/projects" class="block px-4 py-4 text-sm text-blue-900 hover:bg-gray-100" role="menuitem">Projektek</a>
                <a routerLink="" class="block px-4 py-4 text-sm text-blue-900 hover:bg-gray-100" role="menuitem">Kijelentkezés</a>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    <div class="editor pt-28">
      <div class="relative group">
        <input class="shadow appearance-none border rounded w-96 py-2 px-3 bg-gray-100 text-gray-700 leading-tight focus:outline-blue-400 focus:shadow-outline focus:bg-white" id="filename" type="text" placeholder="Fájl neve">
        <button class="absolute right-48 transition ease-in-out bg-white hover:-translate-y-1 hover:scale-105 hover:bg-blue-100 text-blue-900 font-medium py-2 px-4 rounded" type="button">
          Mentés
        </button>
        <button type="button" class="absolute right-0 bg-white hover:bg-blue-100 text-blue-900 font-medium py-2 px-4 rounded" (click)="toggleLanguageDropdown()" aria-expanded="false">
          Nyelv változtatása >
        </button>
        <div *ngIf="isLanguageDropdownOpen" class="fixed right-20 w-40 origin-top-right bg-blue-50 rounded-md shadow-lg">
          <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
            <a (click)="changeLanguage('python')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">Python (Alapértelmezett)</a>
            <a (click)="changeLanguage('javascript')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">JavaScript</a>
            <a (click)="changeLanguage('typescript')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">TypeScript</a>
            <a (click)="changeLanguage('java')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">Java</a>
            <a (click)="changeLanguage('html')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">HTML</a>
            <a (click)="changeLanguage('css')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">CSS</a>
            <a (click)="changeLanguage('c#')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">C#</a>
            <a (click)="changeLanguage('sql')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">SQL</a>
            <a (click)="changeLanguage('php')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">PHP</a>
          </div>
        </div>
      </div>
      <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" class="monaco"></ngx-monaco-editor>
    </div>  
</div>