body, html {
    height: 100%;
}

.hatter{
    background-image: linear-gradient(to bottom right, #3057D3, #73aad1);
}

.navi{
    position: absolute;
    top: 0;
    background-color: black;
    opacity: .7;
    margin-left: 0;
}

.logo{
    margin: 0 auto;
}

.lenyilo{
    z-index: 2 !important;
}

.editor{
    padding-left: 20px;
    width: 85%;
}

.monaco{
    padding-top: 43px;
    height: 600px !important;
}

.ment{
    position: fixed;
    right: 420px;
}