<div class="hatter h-full">
    <app-nav-after></app-nav-after>
    <div class="editor">
      <div class="relative group">
        <input class="shadow appearance-none border rounded w-96 py-2 px-3 bg-gray-100 text-gray-700 leading-tight focus:outline-blue-400 focus:shadow-outline focus:bg-white" id="filename" type="text" placeholder="Fájl neve">
        <button class="absolute right-48 transition ease-in-out bg-white hover:-translate-y-1 hover:scale-105 hover:bg-blue-100 text-blue-900 font-medium py-2 px-4 rounded-lg" type="button">
          Mentés
        </button>
        <button type="button" class="absolute right-0 bg-white hover:bg-blue-100 text-blue-900 font-medium py-2 px-4 rounded-lg" (click)="toggleLanguageDropdown()" aria-expanded="false">
          Nyelv változtatása >
        </button>
        <div *ngIf="isLanguageDropdownOpen" class="fixed right-20 w-40 origin-top-right bg-blue-50 rounded-md shadow-lg">
          <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
            <a (click)="changeLanguage('python')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">Python (Alapértelmezett)</a>
            <a (click)="changeLanguage('javascript')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">JavaScript</a>
            <a (click)="changeLanguage('typescript')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">TypeScript</a>
            <a (click)="changeLanguage('java')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">Java</a>
            <a (click)="changeLanguage('html')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">HTML</a>
            <a (click)="changeLanguage('css')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">CSS</a>
            <a (click)="changeLanguage('c#')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">C#</a>
            <a (click)="changeLanguage('sql')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">SQL</a>
            <a (click)="changeLanguage('php')" class="block px-4 py-4 text-sm text-blue-900 hover:bg-blue-200" role="menuitem">PHP</a>
          </div>
        </div>
      </div>
      <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" class="monaco"></ngx-monaco-editor>
    </div>  
</div>