<ion-content [fullscreen]="true">
  <main class="flex flex-1 flex-col h-full">
    <h1 class="py-6 pl-6 text-2xl text-left">Projektek</h1>
    <div
      class="flex flex-wrap gap-4 pb-32 h-full px-4"
      id="container"
      [ngClass]="{ 'flex-col justify-center items-center': projects.length === 0, 'flex-row content-start items-start': projects.length > 0 }"
    >
      <button
        class="bg-blue-200 shadow-lg shadow-neutral-300 dark:shadow-neutral-950 rounded-2xl dark:bg-neutral-800 flex justify-center items-center w-28 aspect-square"
        (click)="addProject()"
        *ngIf="projects.length === 0"
      >
        <img
          class="h-4/6 aspect-square dark:invert"
          src="/assets/add.svg"
          alt="Projekt hozzáadása"
        />
      </button>
      <app-project-card
        class="flex flex-1 w-full"
        *ngFor="let project of projects"
        [project]="project"
      ></app-project-card>
    </div>
  </main>
</ion-content>
