<button
  class="bg-blue-100 rounded-2xl dark:bg-neutral-800 flex flex-1 flex-col justify-start items-center min-h-28 min-w-28 p-4"
  *ngIf="file"
  (click)="showFileChanges()"
>
  <h1
    class="w-full text-left pl-1 mb-4"
  >
    {{ file.name }}
  </h1>
  <div
    class="bg-neutral-100 dark:bg-neutral-700 w-full h-full flex flex-col rounded-md p-2"
  >
    <h1 class="w-full text-left pb-2">Utoljára szerkesztve:</h1>
    <p class="w-full text-left"> {{ getLastEditTime() }} </p>
  </div>
</button>
