body,html {
    width: 100%;
  }
  
  .hatter{
      background-image: linear-gradient(to bottom right, #3057D3, #73aad1);
  }
  
  .navi{
      position: absolute;
      top: 0;
      background-color: black;
      opacity: .7;
  }
  
  .logo{
      margin: 0 auto;
  }
  
  form{
      margin: 0 auto;
      width: 100%;
  }
  
  .info-icon {
      position: relative;
      display: inline-block;
      padding-left: 10px;
  }
  
  .info-icon .info-text {
      visibility: hidden;
      width: 300px;
      background-color: #f9f9f9;
      color: #3057D3;
      text-align: center;
      border-radius: 6px;
      padding: 15px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s;
  }
  
  .info-icon:hover .info-text {
      visibility: visible;
      opacity: 1;
  }
  
  /* .fiok{
      margin-bottom: 200px;
  } */
  
  .foot{
      background-color: #0c1733;
      opacity: .9;
  }