<div class="hatter h-full">
    <nav class="p-6 shadow-2xl w-full navi">
      <ul class="flex">
        <li>
          <a routerLink="/">
            <img src="../../assets/Logo-Dark.svg" alt="CollaboraCode Logo" [width]="70">
          </a>
        </li>
        <li class="logo">
          <img class="ml-4" src="../../assets/LogoType-Dark.svg" alt="CollaboraCode" [width]="300">
        </li>
      </ul>
    </nav>
    <div class="pt-16">
      <h2 class="text-3xl font-medium mb-8 text-white text-center mt-10">Regisztráció</h2>
        <form class="w-full max-w-xl">
            <div class="">
              <div class="flex flex-col -mx-3 mb-6 items-center">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-white text-xs font-medium mb-2" for="grid-first-name">
                    Keresztnév
                  </label>
                  <input
                    class="appearance-none block w-full bg-gray-100 text-gray-700 border rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-blue-400 focus:shadow-outline focus:bg-white"
                    id="grid-first-name" type="text" placeholder="Keresztnév" [(ngModel)]="firstName" name="firstName"
                  >
                </div>
                <div class="w-full md:w-1/2 px-3 mb-3">
                  <label class="block uppercase tracking-wide text-white text-xs font-medium mb-2" for="grid-last-name">
                    Vezetéknév
                  </label>
                  <input 
                    class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-200 rounded-lg py-3 px-4 leading-tight focus:outline-blue-400 focus:shadow-outline focus:bg-white" 
                    id="grid-last-name" type="text" placeholder="Vezetéknév" [(ngModel)]="lastName" name="lastName"
                  >
                </div>
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-white text-xs font-medium mb-2" for="grid-email">
                    E-mail cím
                  </label>
                  <input 
                    class="appearance-none block w-full bg-gray-100 text-gray-700 border rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-blue-400 focus:shadow-outline focus:bg-white" 
                    id="grid-email" type="text" placeholder="E-mail cím" [(ngModel)]="email" name="email"
                  >
                </div>
                  <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                      <label class="block uppercase tracking-wide text-white text-xs font-medium mb-2" for="grid-password1">
                        Jelszó
                        <div class="info-icon">
                          <img src="../../assets/info.png" alt="info" class="info">
                          <span class="info-text">
                            <ul class="normal-case text-sm">
                              <li>A jelszónak tartalmaznia kell:</li>
                              <li>— minimum 8, maximum 30 karaktert</li>
                              <li>— legalább 1 számot</li>
                              <li>— kis- és nagybetűket</li>
                            </ul>
                          </span>
                        </div>
                      </label>
                      <input 
                        class="appearance-none block w-full bg-gray-100 text-gray-700 border rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-blue-400 focus:shadow-outline focus:bg-white" 
                        id="grid-password1" type="password" placeholder="********" [(ngModel)]="password" name="password"
                      >
                  </div>
                  <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-white text-xs font-medium mb-2" for="grid-password2">
                      Jelszó újra
                    </label>
                    <input 
                      class="appearance-none block w-full bg-gray-100 text-gray-700 border rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-blue-400 focus:shadow-outline focus:bg-white" 
                      id="grid-password2" type="password" placeholder="********"
                    >
                </div>
              </div>
            </div>
            <div class="w-full flex justify-center">
              <button (click)="registerActive(); register(firstName, lastName, email, password)" class="transition ease-in-out bg-white hover:-translate-y-1 hover:scale-105 hover:bg-blue-100 text-blue-900 font-medium py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline" type="submit">
                  Regisztráció
              </button>
            </div>
          </form>
    </div>
        <div class="text-center py-7 text-white">
          <p class="fiok">Már van fiókod? <a class="underline hover:text-blue-950" routerLink="/login">Lépj be itt</a></p>
        </div>
        <div class="flex justify-center text-white font-medium bg-black p-2 foot w-full">
          <p>© CollaboraCode 2023</p>
        </div>
  </div>