body,html {
    height: 100%;
}

.hatter {
    background-image: linear-gradient(to bottom right, #3057D3, #73aad1);
}

.logo {
    margin: 0 auto;
}

.foot {
    position: absolute;
    bottom: 0;
    background-color: #0c1733;
    opacity: .9;
}