#add-button {
  width: 2.75rem;
  padding-right: 0.5rem;
  transition: width 0.2s ease-in-out;
}

#add-button:hover {
  width: 11rem;
}

#add-button > p {
  animation: hideButton 0.2s ease-in-out forwards;
}

#add-button:hover > p {
  animation: showButton 0.2s ease-in-out forwards;
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
}

@keyframes hideButton {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes showButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
