<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Főoldal </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Főoldal</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="h-full" id="overlay">
    <h1 class="relative top-1/2 -translate-y-1/2 pt-4 text-lg text-center" id="title">
      Üdvözlünk a
      <span
        class="font-semibold from-sky-500 to-blue-700 bg-gradient-to-br text-transparent bg-clip-text"
        >CollaboraCode</span
      ><br />verzió követőjében!
    </h1>
  </div>
</ion-content>
