#overlay {
  animation: overlayTransition 2000ms ease-out forwards;
}

#title {
  animation: floatTitle 1500ms 500ms ease-in-out forwards;
}

@keyframes overlayTransition {
  from {
    backdrop-filter: blur(10px);
    background-color: rgb(29 78 216 / 100%);
  }
  to {
    backdrop-filter: blur(0px);
    background-color: rgb(29 78 216 / 0%);
  }
}

@keyframes floatTitle {
  from {
    top: 50%;
  }
  to {
    top: 0;
    transform: translateY(0);
  }
}
