<h1 class="py-6 pl-6 text-2xl text-left">Téma beállítások</h1>
<div class="flex-1 justify-center items-center" id="container">
  <ul class="flex flex-col gap-6 px-4">
    <li class="bg-neutral-200 dark:bg-neutral-800 rounded-lg pr-3">
      <select class="w-full p-3 bg-transparent" #themeSelector>
        <option class="bg-neutral-200 dark:bg-neutral-800" value="auto">
          Automatikus
        </option>
        <option class="bg-neutral-200 dark:bg-neutral-800" value="dark">
          Sotét
        </option>
        <option class="bg-neutral-200 dark:bg-neutral-800" value="light">
          Világos
        </option>
      </select>
    </li>
  </ul>
</div>
