<ion-content [fullscreen]="true">
  <header>
    <button
      class="absolute top-5 left-4 h-9 aspect-square rounded-lg bg-blue-600 bg-opacity-30 flex items-center justify-center"
      routerLink="/tabs/projects"
      routerDirection="back"
    >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </button>
    <h1 class="py-6 pl-16 text-2xl text-left">Projekt hozzáadása</h1>
  </header>
  <main class="flex flex-col justify-evenly items-center">
    <div>
      <p class="text-center text-neutral-300 mb-2">Projekt neve</p>
      <input type="text" class="w-64" />
    </div>
  </main>
</ion-content>
